/* Overrides for dartdoc styles. */
body {
    font-size: 15px;
    font-family: Roboto, sans-serif;
    line-height: 1.5;
    color: #111;
    background-color: #fdfdfd;
    font-weight: 300;
    -webkit-font-smoothing: auto;
  }
  
  h1, h2 {
    font-weight: 300;
  }
  
  h3, h4, h5, h6 {
    font-weight: 400;
  }
  
  h1 {
    font-size: 22px !important;
    letter-spacing: -1px;
  }
  
  header h1 {
    font-weight: 300;
  }
  
  h2 {
    color: #111;
    font-size: 24px;
  }
  
  .markdown h2 {
    font-size: 24px;
  }
  
  
  .sidebar ol,
  .sidebar ol li.section-title {
    font-size: inherit;
  }
  
  
  .sidebar-offcanvas-left ol {
    padding: 0 16px 16px 0;
  }
  
  .sidebar-offcanvas-left h5 {
    display: none;
  }
  
  .markdown.desc {
    max-width: inherit;
  }
  
  
  i.md-36 {
    vertical-align: bottom;
  }
  
  li.inherited a {
    font-weight: 100;
  }
    
  img {
    max-width: 100%
  }