html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  -webkit-overflow-scrolling: touch;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.sidebar > ul {
  padding-inline-start: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: row;
  padding: 1px;
  min-height: 0;
}

.sidebar-offcanvas-left {
  flex: 0 1 230px;
  order: 1;
  overflow-y: scroll;
  margin-left: 20px;
  visibility: hidden; 
}

::-webkit-scrollbar-button:hover{ background-color: #AAA; }
::-webkit-scrollbar{ width: 4px; }

.main-content::-webkit-scrollbar{ width: 8px; }

.main-content {
  flex: 1;
  order: 2;
  overflow-y: scroll;
  padding: 10px 5px 0 20px;
  visibility: hidden; 
}

.sidebar-offcanvas-right {
  flex: 0 1 17rem;
  order: 3;
  overflow-y: scroll;
  padding: 0px 5px 15px 10px;
  margin-top: 5px;
  margin-right: 10px;
  visibility: hidden; 
}

body {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #111111;
  background-color: #fff;
}


@media screen and (max-width: 335px) {
 .icon-head {
    width: 3.5rem;
 }}



header {
  box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}

@media screen and (max-width:768px) {
  header .contents {
    padding-left: 15px;
    padding-right: 15px;
  }
}

a {
  text-decoration: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Roboto, sans-serif;
  font-weight: 400;
  margin-top: 1.5em;
  color: #111111;
}

h1.title {
  overflow: hidden;
  text-overflow: ellipsis;
}

h1 {
  font-size: 37px;
  margin-top: 0;
  margin-bottom: 0.67em;
}

h2 {
  font-size: 28px;
}

h5 {
  font-size: 16px;
}

p {
  margin-bottom: 1em;
  margin-top: 0;
}

.desc > ul li a {
  color: #0175C2;
}

.desc > ul li a:hover {
  color: #13B9FD;
}



@media(max-width: 768px) {

  h1 {
    font-size: 24px;
  }

  pre {
    margin: 16px 0;
  }
}

header a:hover {
  color: #0175C2;
}

.feature {
  display: inline-block;
  background: white;
  border: 1px solid #0175c2;
  border-radius: 20px;
  color: #0175c2;

  font-size: 12px;
  padding: 1px 6px;
  margin: 0 8px 0 0;
}

a.feature:hover {
  border-color: #13B9FD;
}

h1 .feature {
  vertical-align: middle;
}

.source-link {
  padding: 18px 4px;
  vertical-align: middle;
}

.source-link .material-icons {
  font-size: 18px;
}

@media (max-width: 768px) {
  .source-link {
    padding: 7px 2px;
    font-size: 10px;
  }
}

#external-links {
  float: right;
}

.btn-group {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}


.markdown.desc {
  max-width: 700px;
}

.markdown h1 {
  font-size: 24px;
  margin-bottom: 8px;
}

.markdown h2 {
  font-size: 20px;
  margin-top: 24px;
  margin-bottom: 8px;
}

.markdown h3 {
  font-size: 18px;
  margin-bottom: 8px;
}

.markdown h4 {
  font-size: 16px;
  margin-bottom: 0;
}

.markdown li p {
  margin: 0;
}

.gt-separated {
  list-style: none;
  padding: 0;
  margin: 0;
}

.gt-separated li {
  display: inline-block;
}


.gt-separated li:first-child:before {
  background-image: none;
  content: "";
  margin: 0;
  padding: 0;
}

.features {
  font-style: italic;
  color: #727272;
}



.sidebar ol {
  list-style: none;
  line-height: 22px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 0 15px 0;
}


.sidebar h5,
.sidebar ol li {
  text-overflow: ellipsis;
  overflow: hidden;
  padding: 3px 0 3px 3px;
}

.sidebar h5 {
  color: #727272;
  font-size: 18px;
  margin: 0 0 22px 0;
  padding-top: 0;
}

.sidebar ol li.section-title {
  font-size: 18px;
  font-weight: normal;
  text-transform: uppercase;
}

.sidebar ol li.section-subtitle a {
  color: inherit;
}

.sidebar ol li.section-subtitle {
  font-weight: 400;
  text-transform: uppercase;
}

.sidebar ol li.section-subitem {
  margin-left: 12px;
}

.sidebar ol li:first-child {
  padding-top: 3px;
  margin-top: 0;
}

button {
  padding: 0;
}


@media screen and (max-width:768px) {
  .sidebar-offcanvas-left {
    display: none;
  }
}
.sidebar-offcanvas-left h5 {
  margin-bottom: 10px;
}

.sidebar-offcanvas-left h5:last-of-type {
  border: 0;
  margin-bottom: 25px;
}

@media screen and (max-width: 992px) {
  .sidebar-offcanvas-right {
     display: none;
   }
}


@media print {
  .sidebar {
    display:none; 
  }
  a[href]:after {
   content:"" !important;
  }
}

.title-category:hover { 
  color: #018bc2;
}

.sub-post a:hover { 
  color: #018bc2;
}

.title-category, .description-category{
  color: #000;
  margin-bottom: 0;
}

.sub-post> a {
  color:#333;
}

.section-title:hover {
  background-color: #e8e9ebd3;
  border-radius: 8px;
}

.section-title img {
  border-radius: 10px;
  transition: transform .5s;
  
}

.sub-post img {
  border-radius: 10px;
  transition: transform .5s; }

.section-title:hover img {
  transform: scale(1.04);
}

.sub-post :hover img {
  transform: scale(1.04);
}

.sub-post {
  display: flex;
}

.sub-post a:first-child {
  width: 100%;
}

.sub-post a:last-child {
  width: 60%;
}

